**

!v2/
!v2/**
!vendor/
!vendor/ruvector/
!vendor/ruvector/**
!ui/
!ui/**
!docker/
!docker/**
!config/
!config/**
!.dockerignore

**/target/
**/node_modules/
**/__pycache__/
**/*.pyc
**/*.log
**/.env
v2/target/
ui/mobile/node_modules/
